*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}
html{
     scroll-behavior :smooth;
}
.header{
    background-image: url(images/cars5.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.7));
}
.navbar{ 
    height: 70px;
    display:flex;
    margin: auto;
    padding: 10px;
    justify-content: space-evenly;
}
.main-nav{
    display: flex;
    list-style: none;}

.main-nav .dropdown-icon{
    display: inline-block;
    text-decoration: none;
    background-color: color thistle;
    cursor: pointer;
    
}
    .main-nav li{
    padding-left: 60px;
    cursor: pointer;
}
.main-nav .nav-link{
    text-decoration: none;
    font-weight: 200;
    font-size: large;
    color: cornsilk;
}
.main-nav li a:hover{
    color: darkseagreen;
    font-size: larger;
}
.logo{
    color: crimson;
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    border: transparent;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(60, 63, 54);
 } 
 .KIIT{
     color: cyan;
     font-size: 20PX;
 } 
 .main-content-header{
     text-transform: uppercase;
     width: 100%;
     height: 200px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     text-align: center;
     color: seashell;
     margin-top: 50px;
     background-color:transparent;
     padding: 5px;
 } 
 .main-content-header h1{
     margin-bottom: 50px;
     font-size: 50px;
     font-weight: 300;
     letter-spacing: .3rem;
 }
 .main-content-header h3{
     margin-bottom: 50px;
     font-size: 20px;
     font-weight: 200;
     letter-spacing: .3rem;
 }
 .main-content-header h4{
     font-size: 10px;
     font-weight: 150;
     letter-spacing: .3rem;
 }

 .about-us{
     background-color: grey;
     padding: 4rem 1rem;
     
 }
 .contact-us{
     background-color: thistle;
     padding: 6rem 1rem;
 }
 .container{
     padding: 6rem 10rem;
     
 }
 
 
 .write-up{
     display: flex;
     align-items: center;
     margin-bottom: 40px;
 }
 .heading1{
     font-size: 28px;
     margin-top: 0;
     margin-bottom: 50px;
 }
 .icon-wrapper-left,.icon-wrapper-right{
     flex: 1;
     display: flex;
     justify-content: center;
     
 }
 .icon-wrapper-left,.blurb-wrapper-left{
     order:1;
 }
 .icon-wrapper-right,.blurb-wrapper-right{
     order: 2;
 }
 .blurb-wrapper-left,.blurb-wrapper-right{
     flex: 1;
     justify-content: center;
 }
 
 
 .icon{
     width: 250px;
 }
 .icon2{
     width: 200px;
 }
 .icon3{
     width: 200px;
 }
    .blurb-header{
     font-size: 28px;
     margin-top: 0;
     margin-bottom: 50px;
 }
 .blurb-info{
     color:rgb(59, 5, 5);
     font-size: 14px;
     line-height: 1;
 }
 .section-header{
     text-align: center;
     padding: 6rem,0;
     margin-bottom:80px;
 }
 .portfolio-wrapper{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 .portfolio-object{
     max-width: 250px;
     margin: 2rem 0;
 }
 .portfolio-box{
     width: 250px;
     height: 250px;
     background-color:#f1F3Fa;
     transition: .2s ease-in-out;
 }
 .portfolio-box:hover{
     cursor: pointer;
     transform: scale(1.02);
 }
 .form label{
     font-size: 14px;
 }
 .form-group{
     margin-bottom: .75rem;
 }
 .form-controll{
     max-width: 800px;
     width: 100%;
     background-color: #ffffff;
     color: #292b2c;
     border-radius: 2px;
     border: 1px solid#ced4da;
     padding: .375rem .75rem;
     font-size: 1rem;
     line-height: 1.5;
     background-clip: padding-box;
     display: block;
 }
 .submit-btn-wrapper{
     margin-top: 4rem;
 }
 .quote-btn{
     padding: 1rem 4rem;
     font-size: 26px;
     background-color: grey;
     color: wheat;
     border-radius: 5px;
     border: 1px solid#ced4da;
     cursor: pointer;
 }

   
   .main-nav .dropdown-icon{
     display: none;
 }
   @media  screen and (max-width: 1180px){
    .main-content-header{
     width: 100%;
     padding:0 2%;}

}
    @media screen and (max-width: 768px){
      .main-content-header h1 {font-size: 30px;}
      .main-content-header h3 {font-size: 15px;}
      .main-content-header h4 { color: tomato;}
      .header-background-image{ size: 350px;}
      .main-nav.li a.nav-link{ font-size: 10px;}

      .logo{
        font-size: 20px;
        color: greenyellow;
        padding-left: 15%;
        width: 35%; }

     .main-nav li a.nav-link{
         display: none;
     }

      .main-nav li.dropdown-icon{
         display: block;
         position: absolute;
          margin-top:15px;
         margin-right:  20px;
         color: aliceblue;
     
      }
       .main-nav.responsive li.dropdown-icon{
        position: absolute;
        top: 15px;
        right: 20px;

      }
      .main-nav.responsive{
          flex-direction: column;
          text-align: right;
      }
      .main-nav.responsive li{
          position: relative;
          top: 30px;
          right: 30px;
      }
      
        ul.main-nav.responsive li a.nav-link{
         display: block;
         line-height: 2;
      }
      .portfolio-wrapper{
          text-align: center;
      }
      .write-up{
          display: flex;
          flex-direction: column;
          text-align: center;
      }
      .icon-wrapper-left,.icon-wrapper-right{
          order: 1;
      }
      .blurb-wrapper-right,.blurb-wrapper-left{
          order: 2;
      }
         
     }
     @media screen and (max-width: 599px){
         .portfolio-wrapper{
             justify-content: center;
         }

     }

 